# dependencies
/node_modules

# next
/.next
/out
next-env.d.ts
tsconfig.tsbuildinfo

# env
.env
.env*.local

# prisma — lokale sqlite db
/prisma/*.db
/prisma/*.db-journal

# misc
.DS_Store
*.log

# sentry
.env.sentry-build-plugin
.sentryclirc
